<!--<app-toolbar style="width: 100%" header="Region Selection"></app-toolbar>-->
<div class="p-grid p-dir-col" style="height: 100%; width: 100%;">
  <div id="svgContainer" class = "p-col-12 p-col-align-start" style="height: 60%">
  </div>
  <span id="listContainer" class = "p-col-12 p-col-align-end"  style="height: 40%; width: 100%">
    <p-listbox [options]="countries" [style] = "{'width':'100%'}" [(ngModel)]="selectedCountry" optionLabel="countryName" (click)="countryClick()"></p-listbox>
  </span>
</div>
