<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<!--<div  style = "display:flex; position:absolute; top:0; bottom:0; right:0; left:0">-->
<!--<div>-->
  <!--<div class="p-grid p-align-center p-dir-col p-justify-center" style = "margin: auto">-->
    <!--<textarea id="float-input1" size="30" pInputText [(ngModel)] = "markdown"></textarea>-->
    <!--<markdown [data]="markdown"></markdown>-->
  <!--</div>-->
<!--</div>-->
<div id="mainBody" [ngStyle]="{'margin-bottom' : footerHeight + 10 + 'px'}" >


  <div [hidden]="!viewWiki" style="width: 100vw">
    <a (click)="editMode = !editMode" style="font-size: smaller" [hidden]="!canEdit">Toggle Edit Mode</a>
    <div *ngFor="let info of sections | async; let i = index" style="margin-top: 20px; padding-right: 35px">
      <div [hidden]="!hideme[i]">
        <p-editor type="text" [(ngModel)]= "sections[i]" [style]="{'height':'320px'}" ></p-editor>
        <div class="p-grid" style="text-align: center">
          <p-button class="p-col-6" (onClick)="hideme[i] = !hideme[i]">Cancel</p-button>
          <p-button class="p-col-6" (click)="submitEdit(info.title, i)">Submit</p-button>
        </div>
      </div>
      <p-fieldset legend={{info.title}} [toggleable]="true" [hidden]="hideme[i]">
        <markdown [data]="info.markup"></markdown>
      </p-fieldset>
      <div [hidden]="!editMode">
        <a (click)="hideme[i] = !hideme[i]" style="font-size: smaller" [hidden]="hideme[i]">edit?</a>
      </div>
    </div>
    <a (click)="submitEdit('test111', editText.length)" style="font-size: smaller" [hidden]="!editMode">Add new thing</a>
    <div *ngFor="let g of groups; let i = index" style="margin-top: 20px; padding-right: 35px">
      <a routerLink="./group/{{g.id}}" ><p class="p-col p-col-2">{{g.name}}</p></a>
    </div>
  </div>

  <div [hidden]="!viewChecklist">
    <h3>Checklist</h3>
    <a routerLink="/list" >Create New</a>
  </div>

  <div [hidden]="!viewTrips">
    <h3>Trips</h3>
    <span id="listContainer"  style="height: 100%; width: 100%">
      <p-listbox [options]="tripValues" [style] = "{'width':'100%'}" [(ngModel)]="selectedTrip" optionLabel="tripName" (click)="tripClick()"></p-listbox>
    </span>
  </div>



</div>


<!-- <div id ="footer"  class="p-grid" [ngStyle]="{'height' : footerHeight + 'px'}" style="text-align: center; bottom: 0; position: fixed; width: 100%">
  <div class="p-col-4" [ngStyle]="{'background-color' : viewWiki ? 'blue' : 'aqua' }">
    <a (click)="viewWiki = true; viewChecklist = false; viewTrips = false;"><p style="height: 100%" >Wiki</p></a>
  </div>
  <div class="p-col-4" [ngStyle]="{'background-color' : viewChecklist ? 'blue' : 'aqua' }">
    <a (click)="viewWiki= false; viewChecklist = true; viewTrips = false;"><p style="height: 100%" >Checklist</p></a>
  </div>
  <div class="p-col-4" [ngStyle]="{'background-color' : viewTrips ? 'blue' : 'aqua' }">
    <a (click)="viewWiki= false; viewChecklist = false; viewTrips = true;"><p style="height: 100%" >Trips</p></a>
  </div>
</div>
 -->

<p-toolbar [style]="{'background': 'none', 'padding': '0', 'border': 'none', 'position': 'fixed', 'bottom': '0', 'left': '0', 'width': '100%', 'height': '50px'}">
  <button class="footer-button" pButton type="button"
    style="height: 100%; border: none; border-radius: 0"
    [ngStyle]="{'width': 100/3 + '%'}"
    (click)="viewWiki = true; viewChecklist = false; viewTrips = false">
    <i class="pi pi-align-justify" [ngStyle]="{'opacity': !viewWiki ? '0.5' : '1'}"></i>
    <div [ngStyle]="{'opacity': !viewWiki ? '0.5' : '1'}">
      <span>Wiki</span>
    </div>
  </button>
  <button class="footer-button" pButton type="button"
    style="height: 100%; border: none; border-radius: 0"
    [ngStyle]="{'width': 100/3 + '%'}"
    (click)="viewWiki = false; viewChecklist = true; viewTrips = false">
    <i class="pi pi-list" [ngStyle]="{'opacity': !viewChecklist ? '0.5' : '1'}"></i>
    <div [ngStyle]="{'opacity': !viewChecklist ? '0.5' : '1'}">
      <span>Checklist</span>
    </div>
  </button>
  <button class="footer-button" pButton type="button"
    style="height: 100%; border: none; border-radius: 0"
    [ngStyle]="{'width': 100/3 + '%'}"
    (click)="viewWiki = false; viewChecklist = false; viewTrips = true">
    <i class="pi pi-briefcase" [ngStyle]="{'opacity': !viewTrips ? '0.5' : '1'}"></i>
    <div [ngStyle]="{'opacity': !viewTrips ? '0.5' : '1'}">
      <span>Trips</span>
    </div>
  </button>
</p-toolbar>

