<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<p-dialog header="New Section Creation" [(visible)]="showNewSectionPopup">
  <div [hidden]="!viewWiki">
    <div style="width: 300px;" >
      <p>Section Title</p>
      <input type="text" pInputText [(ngModel)]="newSectionName"/>
      <p style="margin-top: 20px;">Section Text</p>
      <p-editor [(ngModel)]="newSectionText" [style]="{'height': '200px'}">
        <p-header>
            <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
            </span>
        </p-header>
      </p-editor>
    </div>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewSection()" label ="Submit"></p-button>
    </div>
  </div>
  <div style="width: 300px;" [hidden]="!viewChecklist">
    <p>Add New Checklist Item</p>

  </div>
  <div style="width: 300px;" [hidden]="!viewTrips">
    <p style="margin-top: 10px">Org hosting Trip</p>
    <input type="text" pInputText [(ngModel)]="newTripOrg"/>
    <p style="margin-top: 10px">Team on Trip</p>
    <input type="text" pInputText [(ngModel)]="newTripTeam"/>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewTrip()" label ="Submit"></p-button>
    </div>

  </div>
</p-dialog>
<!--<div  style = "display:flex; position:absolute; top:0; bottom:0; right:0; left:0">-->
<!--<div>-->
  <!--<div class="p-grid p-align-center p-dir-col p-justify-center" style = "margin: auto">-->
    <!--<textarea id="float-input1" size="30" pInputText [(ngModel)] = "markdown"></textarea>-->
    <!--<markdown [data]="markdown"></markdown>-->
  <!--</div>-->
<!--</div>-->
<div id="mainBody" [ngStyle]="{'margin-bottom' : footerHeight + 10 + 'px'}" >


  <div [hidden]="!viewWiki" style="width: 100vw">
    <div *ngFor="let info of sections | async; let i = index" style="margin-top: 20px; padding-right: 35px">
      <div [hidden]="!hideme[i]">
        <p-editor type="text" [(ngModel)]= "info.markup" [style]="{'height':'320px'}" ></p-editor>
        <div class="p-grid" style="text-align: center; padding-top: 5px">
          <p-button class="p-col-6" (onClick)="hideme[i] = !hideme[i]" label="Cancel"></p-button>
          <p-button class="p-col-6" (click)="submitEdit(info.title, info.markup);hideme[i] = !hideme[i]" label="Submit"></p-button>
        </div>
      </div>
      <p-fieldset [toggleable]="true" [hidden]="hideme[i]">
        <p-header>
          {{info.title}}
          <div [style.display]="!canEditWiki ? 'none' : 'inline-block'">
            <i class="pi pi-pencil" style="cursor: pointer; padding-left: 10px" (click)="hideme[i] = !hideme[i]"></i>
          </div>
        </p-header>
        <markdown [data]="info.markup"></markdown>
      </p-fieldset>
    </div>
    <!--<a (click)="submitEdit('test111', editText.length)" style="font-size: smaller" [hidden]="!canEditWiki">Add new thing</a>-->
    <div *ngFor="let g of groups; let i = index" style="margin-top: 20px; padding-right: 35px">
      <a routerLink="./group/{{g.id}}" ><p class="p-col p-col-2">{{g.name}}</p></a>
    </div>
  </div>

  <div [hidden]="!viewChecklist">
    <h3>Checklist</h3>
    <a routerLink="/list" >Create New</a>
  </div>

  <div [hidden]="!viewTrips">
    <h3>Trips</h3>
    <span id="listContainer"  style="height: 100%; width: 100%">
      <p-listbox [options]="tripValues" [style] = "{'width':'100%'}" [(ngModel)]="selectedTrip" optionLabel="tripName" (click)="tripClick()"></p-listbox>
    </span>
  </div>



</div>

<p-toolbar [style]="{'background': 'none', 'padding': '0', 'border': 'none', 'position': 'fixed', 'bottom': '0', 'left': '0', 'width': '100%', 'height': '50px'}">
  <button class="footer-button" pButton type="button"
    style="height: 100%; border: none; border-radius: 0"
    [ngStyle]="{'width': 100/3 + '%'}"
    (click)="viewWiki = true; viewChecklist = false; viewTrips = false; sharedService.addName.emit('New Section');">
    <i class="pi pi-align-justify" [ngStyle]="{'opacity': !viewWiki ? '0.5' : '1'}"></i>
    <div [ngStyle]="{'opacity': !viewWiki ? '0.5' : '1'}">
      <span>Wiki</span>
    </div>
  </button>
  <button class="footer-button" pButton type="button"
    style="height: 100%; border: none; border-radius: 0"
    [ngStyle]="{'width': 100/3 + '%'}"
    (click)="viewWiki = false; viewChecklist = true; viewTrips = false; sharedService.addName.emit('New List');">
    <i class="pi pi-list" [ngStyle]="{'opacity': !viewChecklist ? '0.5' : '1'}"></i>
    <div [ngStyle]="{'opacity': !viewChecklist ? '0.5' : '1'}">
      <span>Checklist</span>
    </div>
  </button>
  <button class="footer-button" pButton type="button"
    style="height: 100%; border: none; border-radius: 0"
    [ngStyle]="{'width': 100/3 + '%'}"
    (click)="viewWiki = false; viewChecklist = false; viewTrips = true; sharedService.addName.emit('New Trip');">
    <i class="pi pi-briefcase" [ngStyle]="{'opacity': !viewTrips ? '0.5' : '1'}"></i>
    <div [ngStyle]="{'opacity': !viewTrips ? '0.5' : '1'}">
      <span>Trips</span>
    </div>
  </button>
</p-toolbar>

