<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<p-dialog header="New Section Creation" [(visible)]="showNewSectionPopup">
  <div [hidden]="!viewWiki">
    <div style="width: 300px;" >
      <p>Section Title</p>
      <input type="text" pInputText [(ngModel)]="newSectionName"/>
      <p style="margin-top: 20px;">Section Text</p>
      <p-editor [(ngModel)]="newSectionText" [style]="{'height': '200px'}">
        <p-header>
            <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
            </span>
        </p-header>
      </p-editor>
    </div>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewSection()" label ="Submit"></p-button>
    </div>
  </div>
  <div style="width: 300px;" [hidden]="!viewChecklist">
    <p-listbox [options]="genericChecklists" [(ngModel)]="selectedLists" multiple="multiple" checkbox="checkbox" [style]="{'width':'100%'}">
      <p-header>
        <i class="pi pi-list"></i>
        Select New Checklist Generic
      </p-header>
    </p-listbox>
    <p-listbox [options]="listsPresent" [(ngModel)]="editList" optionLabel="name" [style]="{'width':'100%'}" readonly="true">
      <p-header>
        <i class="pi pi-list"></i>
        Lists Already Included
      </p-header>
    </p-listbox>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewList()" label ="Select Lists"></p-button>
    </div>
    <p>Don't see what you need?  <a (click)="createNewList()">Create New List</a></p>

  </div>
  <div style="width: 300px;" [hidden]="!viewTrips">
    <p style="margin-top: 10px">Organization Hosting Trip</p>
    <p-dropdown [options]="userOrgMap" [(ngModel)]="newTripOrg" optionLabel="name"
                placeholder="Select an Organization" (onClick)="newTripOrg != null ? loadTrips(): null;
                 newTripTeam = null; newTripName = null;"></p-dropdown>
    <p style="margin-top: 10px">Team on Trip</p>
    <p-dropdown [options]="userTeamsMap" [disabled]="newTripOrg == null"  [(ngModel)]="newTripTeam" optionLabel="name"
                placeholder="Select a Team"></p-dropdown>
    <p style="margin-top: 10px">Trip Name</p>
    <input type="text" pInputText [(ngModel)]="newTripName" [disabled]="newTripTeam == null"
           placeholder="Trip Name"/>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewTrip()" label ="Submit"></p-button>
    </div>

  </div>
</p-dialog>

<div id="mainBody" [ngStyle]="{'margin-bottom' : footerHeight + 10 + 'px'}" >

  <div [hidden]="!viewWiki" style="width: 100vw">
    <div *ngFor="let info of sections | async; let i = index;" style="margin-top: 20px;
    padding-right: 35px">
      <div [hidden]="!hideme[i]">
        <label>Edit Section Title</label>
        <div class="ui-inputgroup" style="margin-bottom: 10px" >
          <input type="text" pInputText [placeholder]="info.title" [(ngModel)]="titleEdits[i]">
          <span class="ui-inputgroup-addon"><p-checkbox binary="true" label = "Confirm Title Edit"
                                                        [(ngModel)]="confirmTitles[i]"></p-checkbox></span>
        </div>
        <p-editor type="text" [(ngModel)]= "info.markup" [style]="{'height':'320px'}" ></p-editor>
        <div class="p-grid" style="text-align: center; padding-top: 5px">
          <p-button class="p-col-6" (onClick)="hideme[i] = !hideme[i]" label="Cancel"></p-button>
          <p-button class="p-col-6" (click)="submitEdit(info.title, info.markup, titleEdits[i], confirmTitles[i]);
          hideme[i] = !hideme[i]" label="Submit"></p-button>
        </div>
      </div>
      <p-fieldset [toggleable]="true" [hidden]="hideme[i]">
        <p-header>
          {{info.title}}
          <div [style.display]="!canEditWiki ? 'none' : 'inline-block'">
            <i class="pi pi-pencil" style="cursor: pointer; padding-left: 10px" (click)="hideme[i] = !hideme[i]"></i>
          </div>
        </p-header>
        <markdown [data]="info.markup"></markdown>
      </p-fieldset>
    </div>
    <div *ngFor="let g of groups; let i = index" style="margin-top: 20px; padding-right: 35px">
      <a routerLink="./group/{{g.id}}" ><p class="p-col p-col-2">{{g.name}}</p></a>
    </div>
  </div>

  <div [hidden]="!viewChecklist">
    <h1>Checklist</h1>
    <div *ngFor="let list of (checkList | async)">
      <h2>{{list.name}}</h2>
      <p-table [value]="jsonParse(list.json)">
        <ng-template pTemplate="header">
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question>
          <tr>
            <td>{{ question.question }}</td>
            <td [innerHTML]="getAnswer(question)" style="word-wrap: break-word"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div [hidden]="!viewTrips">
    <h3>Trips</h3>
    <span id="listContainer"  style="height: 100%; width: 100%">
      <p-listbox [hidden]="!tripValues || tripValues.length === 0" [options]="tripValues" [style] = "{'width':'100%'}" [(ngModel)]="selectedTrip" optionLabel="tripName" (click)="tripClick()"></p-listbox>
      <p *ngIf="!tripValues ? false : tripValues.length === 0">No trips found.</p>
    </span>
  </div>
</div>

<app-bottom-tabs [tabs]="tabs" [startTab]="0" (tabClicked)="onTabClicked($event)"></app-bottom-tabs>
