<p-toast position="bottom-center" key="profile-view" class="ui-messages-error"></p-toast>
<div class="p-grid p-align-center p-dir-col p-justify-center" style = "margin: auto">
  <h2>My Profile</h2>
</div>
<div>
  <h4>Name</h4>
  <span>{{firstName }} {{lastName}}</span>
</div>
<div>
  <h4>Email <i class="pi pi-pencil" style="cursor: pointer" (click)="editingEmail = true"></i> </h4>
  <span *ngIf="!editingEmail">{{email}}</span>
  <div *ngIf="editingEmail" class="ui-inputgroup">
    <input type="email" pInputText placeholder="New Email" [(ngModel)]="newEmail">
    <button pButton type="button" icon="pi pi-check" class="ui-button-success" (click)="updateEmail()"></button>
    <button pButton type="button" (click)="editingEmail = false" class="ui-button-danger" icon="pi pi-times"></button>
  </div>
</div>
<div>
  <h4>Organization</h4>
  <span>{{organization}}</span>
</div>
<div>
  <h4>Teams</h4>
  <span>{{teams}}</span>
</div>
<div>
  <h4>Permissions</h4>
  <span>{{(isAdmin)?'Administrator':(verified)?'Verified User':'User'}}</span>
</div>
<div [ngStyle]="!changingPassword ? {'padding-top': '20px'} : null">
  <p-button *ngIf="!changingPassword" (onClick)="changingPassword = true" styleClass="ui-button-danger" label="Change Password"></p-button>
  <div *ngIf="changingPassword">
    <h4>Change Password</h4>
    <span>
      <input type="password" pInputText placeholder="New Password" [(ngModel)]="newPassword">
      <p-button icon="pi pi-check" styleClass="ui-button-success" style="padding-left: 20px" (onClick)="changePassword()"></p-button>
    </span>
    <span>
      <input type="password" pInputText placeholder="Confirm New Password" [(ngModel)]="confirmNewPassword">
      <p-button (onClick)="changingPassword = false" icon="pi pi-times" styleClass="ui-button-danger" style="padding-left: 20px"></p-button>
    </span>
  </div>
</div>
