<p-sidebar [(visible)]="display" position="left">
  <app-profile></app-profile>
</p-sidebar>
<div class="p-grid" style="height: 8%; width: 100vw; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.24);">
  <div class="p-col-fixed p-col-align-center" style="height: 100%; width: 7%">
    <!--<a routerLink="/profile"><img src="assets/icons/nut-icon.png" style="height: 90%"></a>-->
    <a (click)="display = true"><img src="assets/icons/nut-icon.png" style="height: 80%; padding-top: 10%"></a>
  </div>
  <div class="p-col-10 p-col-align-center" style="font-size: x-large">
    {{header}}
  </div>
</div>
