<p-sidebar [(visible)]="display" position="right" (onShow) = "restoreFront($event)" (onHide)="display ? this.sidebarService.toggle() : null">
  <div style="position: fixed; top: 20px" *ngIf="!this.router.url.includes('sidebar:settingsOptions')">
    <p-button icon="pi pi-arrow-left" styleClass="ui-button-rounded" (onClick)="restoreFront($event)"></p-button>
  </div>
  <router-outlet name="sidebar"></router-outlet>
</p-sidebar>

<div (window:resize)="onResize($event)"></div>

<div id="innerToolbar" class="p-grid p-justify-between" style="height: 50px; width: 100vw; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.24); ">
  <div class="p-col-fixed p-col-align-left" style="height: 90%;" >
    <p-button icon="pi pi-arrow-left" *ngIf="!this.isLanding" styleClass="ui-button-rounded" style="height: 100%; padding-top: 5px; padding-right: 5px; cursor: pointer;" (onClick)="navBack($event)"></p-button>
    <p-button icon="pi pi-home" *ngIf="!this.isLanding" styleClass="ui-button-rounded" style="height: 100%; padding-top: 5px; padding-right: 5px; cursor: pointer;" (onClick)="goHome()"></p-button>
  </div>
  <div class="p-col-fixed p-col-align-center p-align-center" style="font-size: larger; text-align: center;">
    {{ (header?.length > shortNum) ? (header | slice:0:shortNum) + '...': header}}
  </div>
  <div class="p-col-fixed p-col-align-center p-align-end" style="height: 90%; margin-bottom: 7px">
    <div style="padding-right: 15px; text-align: center; cursor: pointer" (click)="addSection()" [style.display]="!hasEditRights ? 'none' : 'inline-block'">
      <i class="pi pi-plus"></i>
      <div>
        <span style="font-size: small">{{addName}}</span>
      </div>
    </div>
    <div style="display: inline-block">
      <i class="pi pi-cog" style="cursor: pointer; font-size: 40px" (click)="this.sidebarService.toggle()"></i>
    </div>
  </div>
</div>

