<h1>New List Creation</h1>
<div class="p-grid">
  <div class="p-col-8">
    <h2>Form Preview</h2>
      <h3>{{checklist.name}}</h3>
      <app-checklist [questions]="checklist.questions"></app-checklist>
  </div>

  <div class="p-col-4">
    <h2>Question Creation</h2>
    <div>
      <p-dropdown #questionType [options]="questionTypes" [(ngModel)]="selectedControlType"
        optionLabel="name" placeholder="New Question Type"></p-dropdown>
      <div *ngIf="selectedControlType !== undefined">
        <p>New {{selectedControlType.name}} Question</p>
        <!--<div [ngSwitch]="selectedControlType.controlType">-->
          <div *ngIf="selectedControlType.type === 'radioButton'" >
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">
            <div>
              <label style="padding-top: 5px">Options</label>
              <div *ngFor="let option of options; let i = index">
                <input pInputText type="text" [(ngModel)]="option.value">
              </div>
            </div>
            <p-button style="padding-top: 5px" (onClick)="addOption()" label="Add Option"></p-button>
          </div>

          <div *ngIf="selectedControlType.type === 'textbox'" >
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">
          </div>


          <div *ngIf="selectedControlType.type === 'dropdown'">
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">
            <div>
              <label style="padding-top: 5px">Options</label>
              <div *ngFor="let option of options; let i = index">
                <input pInputText type="text" [(ngModel)]="option.value">
              </div>
            </div>
            <p-button style="padding-top: 5px" (onClick)="addOption()" label="Add Option"></p-button>
          </div>

          <div *ngIf="selectedControlType.type === 'medicalTextbox'" >
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">
          </div>

          <div *ngIf="selectedControlType.type === 'freeResponse'" >
            <label style="padding-right: 5px">Prompt</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">

          </div>

          <div *ngIf="selectedControlType.type === 'medicalMultipleTextbox'" >
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">

          </div>

          <div *ngIf="selectedControlType.type === 'medicalMultipleCheckbox'">
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">

          </div>

          <div *ngIf="selectedControlType.type === 'multipleSelect'" >
            <label style="padding-right: 5px">Question</label>
            <input pInputText type="text" [(ngModel)]="newQuestion">
            <div>
              <label style="padding-top: 5px">Options</label>
              <div *ngFor="let option of options; let i = index">
                <input pInputText type="text" [(ngModel)]="option.value">
              </div>
            </div>
            <p-button style="padding-top: 5px" (onClick)="addOption()" label="Add Option"></p-button>
          </div>
        </div>
      <p-button style="padding-top: 10px" label="Add New Question" (onClick)="pushNewQuestion(); selectedControlType = undefined" [disabled]="selectedControlType=== undefined"></p-button>
      <div style="padding-top: 30px" >
        <p-button label="Done Editing?" (onClick)="pushNewForm();"></p-button>
      </div>

    </div>
  </div>
</div>
