<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<div style="display:flex; position:absolute; top:0; bottom:0; right:15px; left:0">
  <div class="p-grid p-align-center p-dir-col p-justify-center" style = "margin: auto">
    <p-card>
      <p-header>
        <p style="text-align: center; font-size: 24px; padding-top: 20px">Support the Mission</p>
      </p-header>

      <span class="p-col" >
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input placeholder="Email Address" type="text" size="30" pInputText [(ngModel)] = "email" (keydown.enter)="loginClick()">
        </div>
      </span>
      <span class="p-col" style="margin-top:20px">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input placeholder="Password" type="password" size="30" pInputText [(ngModel)] = "password" (keydown.enter)="loginClick()">
        </div>
      </span>
      <button pButton label="Login" style="width: 100%" (click)="loginClick()"></button>

      <p-footer>
        <p style="text-align: center">Don't have an account? <a routerLink="/register">Register</a></p>
      </p-footer>
    </p-card>
  </div>
</div>
