<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<p-dialog header="New Section Creation" [(visible)]="showNewSectionPopup">
  <div [hidden]="!viewWiki">
    <div style="width: 300px;" >
      <p>Section Title</p>
      <input type="text" pInputText [(ngModel)]="newSectionName"/>
      <p style="margin-top: 20px;">Section Text</p>
      <p-editor [(ngModel)]="newSectionText" [style]="{'height': '200px'}">
        <p-header>
            <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
            </span>
        </p-header>
      </p-editor>
    </div>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewSection()" label ="Submit"></p-button>
    </div>
  </div>
  <div style="width: 300px;" [hidden]="!viewAbout">
    <p>Add New About Information</p>
  </div>
</p-dialog>


<div id="mainBody" [ngStyle]="{'margin-bottom' : footerHeight + 10 + 'px'}" >


  <!--<div [hidden]="!viewWiki" style="width: 100vw">-->
    <!--&lt;!&ndash;<a (click)="editMode = !editMode" style="font-size: smaller" [hidden]="!canEdit">Toggle Edit Mode</a>&ndash;&gt;-->
    <!--<div *ngFor="let info of sections; let i = index" style="margin-top: 20px; padding-right: 35px">-->
      <!--<div [hidden]="!hideme[i]">-->
        <!--<p-editor type="text" [(ngModel)]= "editText[i]" [style]="{'height':'320px'}" ></p-editor>-->
        <!--<div class="p-grid" style="text-align: center">-->
          <!--<p-button class="p-col-6" (onClick)="hideme[i] = !hideme[i]">Cancel</p-button>-->
          <!--<p-button class="p-col-6" (click)="submitEdit(info.title, i)">Submit</p-button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<p-fieldset legend={{info.title}} [toggleable]="true" [hidden]="hideme[i]">-->
        <!--<markdown [data]="info.markup"></markdown>-->
      <!--</p-fieldset>-->
      <!--<div [hidden]="!editMode">-->
        <!--<a (click)="hideme[i] = !hideme[i]" style="font-size: smaller" [hidden]="hideme[i]">edit?</a>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<a (click)="submitEdit('test111', editText.length)" style="font-size: smaller" [hidden]="!editMode">Add new thing</a>&ndash;&gt;-->
  <!--</div>-->

  <div [hidden]="!viewWiki" style="width: 100vw">
    <div *ngFor="let info of sections; let i = index" style="margin-top: 20px; padding-right: 35px">
      <div [hidden]="!hideme[i]">
        <label>Edit Section Title</label>
        <div class="ui-inputgroup" style="margin-bottom: 10px" >
          <input type="text" pInputText [placeholder]="info.title" [(ngModel)]="titleEdits[i]">
          <span class="ui-inputgroup-addon"><p-checkbox binary="true" label = "Confirm Title Edit" [(ngModel)]="titleEditsConfirm[i]"></p-checkbox></span>
        </div>
        <p-editor type="text" [(ngModel)]= "editText[i]" [style]="{'height':'320px'}" ></p-editor>
        <div class="p-grid" style="text-align: center; padding-top: 5px">
          <p-button class="p-col-6" (onClick)="hideme[i] = !hideme[i]" label="Cancel"></p-button>
          <p-button class="p-col-6" (click)="submitEdit(info.title, i, titleEdits[i], titleEditsConfirm[i])" label="Submit"></p-button>
        </div>
      </div>
      <p-fieldset [toggleable]="true" [hidden]="hideme[i]">
        <p-header>
          {{info.title}}
          <div [style.display]="!editMode ? 'none' : 'inline-block'">
            <i class="pi pi-pencil" style="cursor: pointer; padding-left: 10px" (click)="hideme[i] = !hideme[i]"></i>
          </div>
        </p-header>
        <markdown [data]="info.markup"></markdown>
      </p-fieldset>
    </div>
    <!--<a (click)="submitEdit('test111', editText.length)" style="font-size: smaller" [hidden]="!editMode">Add new thing</a>-->
    <!--<div *ngFor="let g of groups; let i = index" style="margin-top: 20px; padding-right: 35px">-->
      <!--<a routerLink="./group/{{g.id}}" ><p class="p-col p-col-2">{{g.name}}</p></a>-->
    <!--</div>-->
  </div>

  <div [hidden]="!viewAbout">
    <h3>About</h3>
    <p>Location: {{location}}</p>
    <p>Leader: {{leader}}</p>
    <p>Organization: <span><a (click)="groupClick()">{{group}}</a> </span></p>
    <p>Team: {{team}}</p>
    <p>Date: {{date}}</p>
  </div>




</div>


<!-- <div id ="footer"  class="p-grid" [ngStyle]="{'height' : footerHeight + 'px'}" style="text-align: center; bottom: 0; position: fixed; width: 100%">
  <div class="p-col-6" [ngStyle]="{'background-color' : viewWiki ? 'blue' : 'aqua' }">
    <a (click)="viewWiki = true; viewAbout = false;"><p style="height: 100%" >Wiki</p></a>
  </div>
  <div class="p-col-6" [ngStyle]="{'background-color' : viewAbout ? 'blue' : 'aqua' }">
    <a (click)="viewWiki= false; viewAbout = true;"><p style="height: 100%" >About</p></a>
  </div>
</div>
 -->
<p-toolbar [style]="{'background': 'none', 'padding': '0', 'border': 'none', 'position': 'fixed', 'bottom': '0', 'left': '0', 'width': '100%', 'height': '50px'}">
    <button class="footer-button" pButton type="button"
      style="width: 50%; height: 100%; border: none; border-radius: 0"
      (click)="viewWiki = true; viewAbout = false; sharedService.addName.emit('New Site');
        sharedService.canEdit.emit(editMode);">
      <i class="pi pi-align-justify" [ngStyle]="{'opacity': !viewWiki ? '0.5' : '1'}"></i>
      <div [ngStyle]="{'opacity': !viewWiki ? '0.5' : '1'}">
        <span>Wiki</span>
      </div>
    </button>
    <button class="footer-button" pButton type="button"
      style="width: 50%; height: 100%; border: none; border-radius: 0"
      (click)="viewWiki = false; viewAbout = true; sharedService.addName.emit('New About Info');
        sharedService.canEdit.emit(canEditAbout);">
      <i class="pi pi-info-circle" [ngStyle]="{'opacity': !viewAbout ? '0.5' : '1'}"></i>
      <div [ngStyle]="{'opacity': !viewAbout ? '0.5' : '1'}">
        <span>About</span>
      </div>
    </button>
 </p-toolbar>
