<div class="p-grid p-align-center p-dir-col p-justify-center" style = "margin: auto">
  <h2>Settings</h2>
</div>
<!--<a [routerLink]="['',{ outlets: { sidebar: ['settingsOptions'] } }]"><p>Edit Profile Info</p></a>-->
<!-- <a [routerLink]="['',{ outlets: { sidebar: ['profileView'] } }]"><p>My Profile</p></a>
<p>Edit Checklist Preferences</p>
<p>View Permissions</p>
<a [routerLink]="['',{ outlets: { sidebar: ['uploadSide'] } }]"><p>Upload Media</p></a>
<a [routerLink]="['',{ outlets: { sidebar: ['manageGroup'] } }]"><p>Manage Groups</p></a>
 -->
<a [routerLink]="['',{ outlets: { sidebar: ['profileView'] } }]"><p>My Profile</p></a>
<a [routerLink]="['',{ outlets: { sidebar: ['myGroupsSide'] } }]"><p>My Organizations</p></a>
<a [routerLink]="['',{ outlets: { sidebar: ['myTripsSide'] } }]"><p>My Trips</p></a>
<p>My Teams</p>
<p>Edit Checklist Preferences</p>
<p>View Permissions</p>
<a [routerLink]="['',{ outlets: { sidebar: ['uploadSide'] } }]"><p>Upload Media</p></a>
<a [routerLink]="['',{ outlets: { sidebar: ['manageGroup'] } }]"><p>Manage Organizations</p></a>

 <div class="p-grid">
  <p-menu class="p-col-12" [style]="{'width': '18em'}" [model]="menuItems"></p-menu>
</div>
