<div [hidden]="!showMainMenu" style="width: 100vw">
  <a [hidden] ="!allowOrgCreation" (click)="showOrgCreationMethod()" style="font-size: smaller">Create new org</a>
</div>
<div [hidden]="!showOrgCreation">
  <span class="ui-float-label p-col" >
    <input id="float-input3" type="text" size="30" pInputText [(ngModel)] = "orgName">
    <label for="float-input3" style="margin-left: 8px">Organization Name</label>
  </span>
  <div class="p-grid p-col-align-stretch p-justify-between">
    <a (click)="showMainOrgMethod()" ><p class="p-col p-col-2">Cancel</p></a>
    <p-button class="p-col p-col-3 p-col-align-center" label="Submit" (onClick)="createOrg()"></p-button>
  </div>
</div>
<div [hidden]="!showMainMenu" *ngFor="let info of orgList | async;" style="margin-top: 20px; padding-right: 35px">
  <a routerLink="/org/{{(info | async)?.id}}" ><p class="p-col p-col-2">{{(info | async)?.name}}</p></a>
  <input #myControl [value]="(info | async)?.id" type="hidden" />
  <a (click)="showOrgManagementMethod(myControl.value)"><p class="p-col p-col-2">Edit</p></a>
</div>
<div [hidden]="!showOrgMangement" style="width: 100vw">
  <label for="float-input3" style="margin-left: 8px"><b>Organization: </b>{{orgManagementName}}</label>
  <div style="margin-top: 20px; padding-right: 35px"><b>Teams</b></div>
  <div *ngFor="let info of orgManagementTeams | async" style="margin-top: 20px; padding-right: 35px">
    <p>{{(info | async)?.name}}</p>
    <input #myControl [value]="(info | async)?.id" type="hidden" />
    <p-button class="p-col p-col-3 p-col-align-center" label="Submit"
              (onClick)="showTeamManagementMethod(myControl.value)"></p-button>
  </div>
</div>
