html {
   height: 100%;
   background: #466368;

   background-repeat: no-repeat;
   background-size: inherit;
   background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);

  overflow: hidden;
 }
body {
  height: 100%;
}

.custombar1 .ui-scrollpanel-bar {
  opacity: 0;
}

.footer-button > .ui-button-text {
  display: none !important;
}

.footer-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-empty:focus {
  box-shadow: none;
}

.ui-scrollpanel-content {
  height: 100%;
}
