html {
   height: 100%;
   background: #466368;
   /*background: linear-gradient(to top, #648880, transparent);*/
   background-repeat: no-repeat;
   background-size: inherit;
   background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  /*background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);*/
  /*background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);*/
  /*background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);*/
  /*background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);*/
  /*background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);*/
  /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
  /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
  /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/
  /*background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);*/
  overflow: hidden;
 }
body {
  height: 100%;
}

.custombar1 .ui-scrollpanel-bar {
  opacity: 0;
}
