<div [formGroup]="form">


  <div class= "p-col-12" [ngSwitch]="question.controlType" [formGroupName]="question.key" >
    <label class="p-col-12" [attr.for]="question.key" >{{question.label}}</label>

    <div class="p-col-12" *ngSwitchCase="'radio'" [id]="question.key">
      <div *ngFor="let opt of question.options">
        <p-radioButton [formControlName]="'value'"  [name]="question.key" [value]="opt.key"
                       [label]="opt.value"></p-radioButton>
      </div>

    </div>


    <input class="p-col-12"  pInputText *ngSwitchCase="'textbox'" [formControlName]="'value'"
           [id]="question.key" [type]="question.type" [value]= "question.value" [pKeyFilter]="question.keyFilter">



    <div class="p-col-12" *ngSwitchCase="'dropdown'" [id]="question.key">
      <p-dropdown [options]="question.options" [optionLabel]="'value'"  [formControlName]="'value'" [name]="question.key" placeholder="Select from Dropdown"></p-dropdown>
    </div>

    <div class="p-col-12" *ngSwitchCase="'medtextbox'" [id]="question.key">
      <input pInputText (focus)="searchDrugs(question.key)" [value]= "question.value" type="text" [id]="question.key + 'rxterms'" placeholder="Drug name" [formControlName]="'value'">
      <input pInputText type="text" [id]="question.key + 'drug_strengths'" [value]= "question.value" placeholder="Strength list" [formControlName]="'strength'">
    </div>

    <div class="p-col-12" *ngSwitchCase="'freeResponse'" [id]="question.key">
      <p-editor [style]="{'height' : question.height + 'px'}" [formControlName]="'value'" [id]="question.key">
        <p-header>
        <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
        </span>
        </p-header>
      </p-editor>
    </div>

    <div *ngSwitchCase="'medmulttextbox'" [formArrayName]="'value'">
      <div *ngFor="let item of form.get(question.key).get('value').controls; let i = index;">
        <div [formGroupName]="i" style="margin-top: 10px">
          <input pInputText (focus)="searchDrugs(question.key + i)" type="text" [id]="question.key + i + 'rxterms'" placeholder="Drug name" formControlName="drugName">
          <input pInputText type="text" [id]="question.key + i +'drug_strengths'" placeholder="Strength list" formControlName="strength">
        </div>

      </div>
      <p-button (onClick)="addField(question.key, 'value')" label="Add" style="margin-top: 10px"></p-button>
    </div>

  </div>

  <!--<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>-->
</div>
