body {
  min-height: 100%;
  width: 100%;
  display: table;
}

#mainBody {
  min-height: 100%;
  width: 100%;
  /*margin-bottom: -271px;*/
  display: table-row;
}
/*header-main {*/
  /*height: 60px;*/
/*}*/

/*router-outlet {*/
  /*position: absolute;*/
/*}*/

#footer {
  /*height: 271px;*/
  background-color: aqua;
}

.custombar1 .ui-scrollpanel-bar {
  opacity: 0;
}
