<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<div  style = "display:flex; position:absolute; top:0; bottom:0; right:0; left:0">
  <div class="p-grid p-align-center p-dir-col p-justify-center" style = "margin: auto">
    <h1 class="p-col">
      Support    the Mission
    </h1>
    <span class="ui-float-label p-col" >
        <input id="float-input" type="text" size="30" pInputText [(ngModel)] = "email">
        <label for="float-input" style="margin-left: 8px">Email</label>
    </span>
    <p-button class="p-col p-col-3 p-col-align-center" label="Save" (onClick)="saveClick()"></p-button>
  </div>
</div>
