<app-toolbar style="width: 100%" header="Zana- Wakanda"></app-toolbar>
<div class="p-grid p-dir-col">
  <div class="p-col-12">
    <h3>General</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay style="">
        {{general}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="general" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>
  <div class="p-col-12">
    <h3>Population</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay>
        {{population}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="population" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>
  <div class="p-col-12">
    <h3>Culture</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay>
        {{culture}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="culture" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>
  <div class="p-col-12">
    <h3>Travel</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay>
        {{travel}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="travel" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>
  <div class="p-col-12">
    <h3>Legislation</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay>
        {{legislation}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="legislation" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>
  <div class="p-col-12">
    <h3>Natural Disasters</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay>
        {{naturalD}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="naturalD" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>
  <div class="p-col-12">
    <h3>Political</h3>
    <p-inplace closable="closable">
    <span pInplaceDisplay>
        {{political}}
    </span>
      <span pInplaceContent>
        <input type="text" [(ngModel)]="political" style="width: 100%" pInputText>
    </span>
    </p-inplace>
  </div>

</div>
