<p-toast position="bottom-center" class="ui-messages-error"></p-toast>
<p-dialog header="New Section Creation" [(visible)]="showNewSectionPopup">
  <div [hidden]="!viewWiki">
    <div style="width: 300px;" >
      <p>Section Title</p>
      <input type="text" pInputText [(ngModel)]="newSectionName"/>
      <p style="margin-top: 20px;">Section Text</p>
      <p-editor [(ngModel)]="newSectionText" [style]="{'height': '200px'}">
        <p-header>
            <span class="ql-formats">
                <button class="ql-bold" aria-label="Bold"></button>
                <button class="ql-italic" aria-label="Italic"></button>
                <button class="ql-underline" aria-label="Underline"></button>
            </span>
        </p-header>
      </p-editor>
    </div>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewSection(); showNewSectionPopup = false" label ="Submit"></p-button>
    </div>
  </div>
  <div style="width: 300px;" [hidden]="!viewTeams">
    <p>New Team Name</p>
    <input type="text" pInputText [(ngModel)]="newTeamName"/>
    <p style="margin-top: 10px">New Team Members</p>
    <form #formRef="ngForm">
      <div *ngFor="let member of members; let i = index" class="col-sm-3">
        <div class="form-group">
          <input pInputText type="text" [(ngModel)]="member.value" name="name{{i}}" class="form-control"
                 placeholder="email" #name="ngModel" required />
        </div>
        <br />
      </div>
      <p-button [disabled]="!formRef.form.valid" (click)="addAnotherMember()" label="Add another member"></p-button>
    </form>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewTeam()" label ="Submit"></p-button>
    </div>

  </div>
  <div style="width: 300px;" [hidden]="!viewTrips">
    <p>Country of Trip</p>
    <input type="text" pInputText [(ngModel)]="newTripCountry"/>
    <p style="margin-top: 10px">Site of Trip</p>
    <input type="text" pInputText [(ngModel)]="newTripSite"/>
    <p style="margin-top: 10px">Team on Trip</p>
    <input type="text" pInputText [(ngModel)]="newTripTeam"/>
    <div class="p-grid" style="text-align: center; padding-top: 10px">
      <p-button class="p-col-6" (onClick)="showNewSectionPopup = false" label="Cancel"></p-button>
      <p-button class="p-col-6" (onClick)="submitNewTrip()" label ="Submit"></p-button>
    </div>

  </div>
</p-dialog>


<div id="mainBody" [ngStyle]="{'margin-bottom' : footerHeight + 10 + 'px'}" >

  <div [hidden]="!viewWiki" style="width: 100vw">
    <div *ngFor="let info of sections | async; let i = index" style="margin-top: 20px; padding-right: 35px">
      <div [hidden]="!hideme[i]">
        <p-editor type="text" [(ngModel)]= "info.markup" [style]="{'height':'320px'}" ></p-editor>
        <div class="p-grid" style="text-align: center; padding-top: 5px">
          <p-button class="p-col-6" (onClick)="hideme[i] = !hideme[i];" label="Cancel"></p-button>
          <p-button class="p-col-6" (click)="submitWikiEdit(info.title, info.markup); hideme[i] = !hideme[i];" label="Submit"></p-button>
        </div>
      </div>
      <p-fieldset [toggleable]="true" [hidden]="hideme[i]">
        <p-header>
          {{info.title}}
          <div [style.display]="!canEditWiki ? 'none' : 'inline-block'">
            <i class="pi pi-pencil" style="cursor: pointer; padding-left: 10px" (click)="hideme[i] = !hideme[i]"></i>
          </div>
        </p-header>
        <markdown [data]="info.markup"></markdown>
      </p-fieldset>
    </div>
  </div>

  <div [hidden]="!viewTeams">
    <h3>Teams</h3>
    <p-accordion [multiple]="false">
      <p-accordionTab *ngFor="let team of teams" [header]="(team | async)?.name">
        <div *ngFor="let user of (team | async)?.admins">
          {{user}}
        </div>
      </p-accordionTab>
    </p-accordion>
    <!--Show create team button if they are admin-->

  </div>

  <div [hidden]="!viewTrips">
    <h3>Trips</h3>
    <span id="listContainer"  style="height: 100%; width: 100%">
      <p-listbox [options]="trips" optionLabel="tripName" [style] = "{'width':'100%'}" [(ngModel)]="selectedTrip"
               (click)="tripClick()">
      </p-listbox>
    </span>
  </div>
</div>

<app-bottom-tabs [tabs]="tabs" [startTab]="0" (tabClicked)="onTabClicked($event)"></app-bottom-tabs>
